* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

:root.dark {
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-base-bg: rgb(18,18,18);
    --color-base-text: rgb(240,240,240);
    --color-btn-bg: rgb(36,36,36);
}

:root.light {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240,240,240);
    --color-base-text: rgb(18,18,18);
    --color-btn-bg: rgb(220,220,220);
}

body,
.theme-toggle {
    color: var(--color-base-text);
}

body {
    background-color: var(--color-base-bg);
    padding: 10px;
}



.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;

    color: var(--color-base-text);
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 2s;;
}

.theme-toggle {
    background-color: var(--color-btn-bg);
    color: var(--color-base-text);
    padding: 10px 20px;
    
}

.theme-toggle:hover {
    cursor: pointer;
}
.theme-toggle:focus {
    outline: var(--border-btn);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
}
